@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

@layer utilities {
  .notes-container:hover::-webkit-scrollbar {
    display: block;
    animation: fadeIn 0.2s ease-in-out;
  }
}
